@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<System.Collections.Generic.ICollection<BlankUmbraco.Entities.NewsItem>>

@{
    var newsItems = Model;
    int count = newsItems.Count();
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @foreach (var newsItem in newsItems)
        {
            int index = newsItems.IndexOf(newsItem);

            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@index" class="@(index == 0 ? "active" : "")" aria-current="@(index == 0 ? "true" : "")" aria-label="@newsItem.Name"></button>
        }
    </div>
    <div class="carousel-inner">
        @foreach (var newsItem in newsItems)
        {
            int index = newsItems.IndexOf(newsItem);
                
            <div class="carousel-item @(index == 0 ? "active" : "")">
                <div style="--image-src: url('@newsItem.ImageUrl');" class="carousel-image d-block w-100" alt="@newsItem.Name"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>@newsItem.Name</h5>
                    <p>@newsItem.Summary</p>
                    <a class="read-more-link" href="/latest-news/@newsItem.Url">Read More</a>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
